@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

#logo {
    display: flex;
    color: white;

    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img {
    height: 42px;
    filter: invert(1);
}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(223, 64, 64);
    padding: 13px 14px;
    font-family: 'ZCOOL Qing HuangYou';
    font-weight: bold;
}

#navbar li {
    list-style: none;

}

#navbar li a {
    text-decoration: none;
    padding: 13px 30px;
    color: white;
    font-size: larger;
}

#navbar li a:hover {
    color: black
}


#introSection {
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: center/cover no-repeat url("/static/bg2.jpg");
    height: 450px;
    /* background-color: #ff0000; */
    font-family: 'ZCOOL Qing HuangYou';
    font-size: 55px;
    padding-top: 10px;
}

#introSection div.small {
    font-size: 50px;
    padding: 300px;
}

#ourmission {
    height: 330px;
    background-color: white;
    width: 67%;
    margin: auto;

}

#ourmission h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 12px;
    font-family: 'Yeon Sung';
}

.card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 15px;
    height: 209px;
    background-color: white;
}

.card h3 {
    text-align: center;
    margin: 12px;
    font-family: Arial, Helvetica, sans-serif;

}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img {
    height: 100px;
    padding: 0 14px;
    margin: 5px 9px;
}

.card-img img {
    height: inherit;
}

.card-content {
    padding: 0 10px;
}

.card-content p {
    font-size: 19px;
}

#sponsorsSection {
    height: 300px;
    background-color: #d443435b;
    font-size: 32px;
}

#sponsorsSection h2 {
    text-align: center;
    padding-top: 12px;
    font-family: 'Yeon Sung';
}

#sponsors {
    height: 120px;
    max-width: 1000px;
    margin: auto;
}

.spImg {
    height: 80px;
    margin: 20px;
}

#footer {
    height: 60px;
    background-color: rgb(23, 18, 18);
    color: white;
}